@import url('https://at.alicdn.com/t/font_3180639_c1f69w3f319.css?spm=a313x.7781069.1998910419.47&file=font_3180639_c1f69w3f319.css');
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
body {
  font-family: '微软雅黑', 'Arail Narrow', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
